nav{
    background-color: rgb(178, 213, 232);
    line-height: 50px;
    
    


    
}
h1{
    background-color:rgb(139, 136, 211);
    margin: 0px;
    line-height: 50px;
    text-shadow: 4px 5px 5px #242424;
    

}




.col-md-4{
    background-color: #78667b;

}

.col-md-8{
    background-color: #545156;

}

.espacio{
    background-color: rgb(169, 149, 189);

}
.ba{
    background-color:  white;
}