<h1>      turismo argentina plus</h1>


<nav class="navbar navbar-expand-lg bg-body-tertiary">

  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/sitioweb">inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"aria-current="page" routerLink="/viajes">viajes</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"  routerLink="/fechas">fechas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/quienes">quienes somos</a>
        </li>
      
      </ul>
    </div>
  </div>
</nav> <div class="container-fluid" >
	<div class="row">
		<div class="col-md-12">
      <img src="./../../../../assets/img/quines somos.jpg" style="height: 1000px;" alt="...">
    </div>
  </div>

    <h3>
      TURISMO ARGENTINA TOUR ES UNA EMPRESA FUNDADA EN 2015 CON EL PROPOSITO DE LLEVAR A NUESTROS CLIENTES A VIVIR UNA EXPERIENCIA UNICA.
      YA SEA EN UNA PLAYA CERCANA O EN KA NIEVE PATAGONICA.
        LA EMPRESA FUE FUNDADA EN MORENO ZONA OESTE POR FRANCO FAVANO Y AL PASAR DE LOS AÑOS SE FUE EXPANDIENDO A DISTINTOS LUGARES DE CABA CON EL OBJETIVO DE ESTAR CERCA DE NUESTROS CLIENTES.
        HOY EN DIA LA EMPRESA CUENTA CON 50 EMPLEADOS 7 OFICINAS DE ATENCION AL CLIENTE Y 7 COLECTIVOS DE LARGA DISTANCIA (DE DOS PISOS Y CON CAMA) 
        LOS DESTINOS A LOS QUE VIAJAMOS SON VARIADOS Y QUIZAS NO SEAN MUCHOS PERO ES GRACIAS A USTEDES ESTAMOS AGREGANDO DESTINOS NUEVOS Y FECHAS 
        PARAA ESTAR AL CORRIENTE DE ELLOS SIGANOS EN FACEBOOK(VIAJES AR,PLUS) E INSTAGRAM (@VIAJESPLUS.AR)
      
    </h3>
  </div>


